<h2>Search Books</h2>

<form class="" action="/books" method="GET">
  <div class="">
    <label for="booksSearchTitle">Title</label>
    <input type="text" id="booksSearchTitle" name="title" value="<%= searchOptions.title %>">
  </div>
  <div class="">
    <label for="booksSearchPublishedAfter">Published After</label>
    <input type="date" id="booksSearchPublishedAfter" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
  </div>
  <div class="">
    <label for="booksSearchPublishedBefore">Published Before</label>
    <input type="date" id="booksSearchPublishedBefore" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
  </div>

  <button type="submit" name="button">Search</button>
</form>

<br>

<div className="">
  <% books.forEach(book => { %>
    <a href="/books/<%= book.id %>">
      <img width="150" height="100" src="<%= book.coverImagePath %>" alt="">
    </a>
  <% }) %>
</div>
